.container{
    width: 50%;
    margin: auto;
    padding: 16px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    margin-top: 28px;
    height: 300px;
    box-shadow: 0 0 15px #b2b2b2bf;
}
.container_titulo h3{
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    font-family: arial;
    color: #3e3e3e;
    text-transform: uppercase;
}
.container_input input{
    height: 28px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    width: 74%;
    padding: 6px;
    text-transform: capitalize;
    font-weight: bold;
    color: #747474;
    margin: auto;
    display: block;
}

.container_table table{
    width: 100%;
    margin-top: 8px;
    font-size: 18px;
    font-family: arial;
    color: #353535;
    text-align: center;
}
.container_table table tr{
    height: 33px;
}
.container_table table tr td{
    border-bottom: 1px solid #a4a4a4;
}